# Django Configuration
SECRET_KEY=django-insecure-76^9a%9+x2l=^=&pyd*hsdet$w%oa$@%(jshtcw#iuqk(mrfpx
DEBUG=True

# PostgreSQL Database Configuration
DB_NAME=prorecruiter_db
DB_USER=postgres
DB_PASSWORD=your_postgres_password_here
DB_HOST=localhost
DB_PORT=5432
